    <footer class="bg-dark text-light py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Вопросы и ответы</h5>
                    <p>Здесь можно задавать вопросы и делиться знаниями.</p>
                </div>
                <div class="col-md-3">
                    <h5>Ссылки</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">О нас</a></li>
                        <li><a href="#" class="text-light">Правила</a></li>
                        <li><a href="#" class="text-light">Помощь</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Контакты</h5>
                    <ul class="list-unstyled">
                        <li>Email: info@example.com</li>
                        <li>Телефон: +7 (123) 456-78-90</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>