{% load static %}
    <div class="sidebar-block">
        <h5>Популярные теги</h5>
        <div class="popular-tags">
            {% for tag in popular_tags %}
                <a href="{% url 'questions_by_tag' tag.name %}" class="tag">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
                    
    <div class="sidebar-widget card">
        <div class="card-body">
            <h5 class="card-title">Лучшие пользователи</h5>
            <ul class="list-unstyled">
                {% for user in best_users %}
                <li class="mb-2">
                    <img src="{% static 'components/user-profile-pic.webp' %}" class="rounded-circle me-1" alt="Аватар">
                    <a href="{% url 'user_profile' user.username %}">{{ user.username }}</a> ({{ user.rating }})
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
