{% extends 'base.html' %}
{% load static %}

{% block title %}Главная – Вопросы и Ответы{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Основная колонка -->
        <main class="col-lg-9">
            <div class="questions__title">
                <h2>
                    {% if current_sort == 'hot' %}
                        Популярные вопросы
                    {% else %}
                        Новые вопросы
                    {% endif %}
                </h2>
                {% if current_sort == 'new' %}
                    <a href="?sort=hot{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}" class="btn btn-outline-primary">Популярные вопросы</a>
                {% else %}
                    <a href="?sort=new{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}" class="btn btn-outline-primary">Новые вопросы</a>
                {% endif %}
            </div>
            <div class="questions__content">
                <!-- Django цикл для генерации вопросов -->
                {% for question in page_obj %}
                <div class="question__root">
                    <div class="question__aside">
                        <img src="{% static 'components/user-profile-pic.webp' %}" alt="pic" class="question__image">
                        <div class="question__votes d-flex justify-content-center align-items-center gap-2">
                            <button class="btn btn-sm btn-outline-success" id="buttonLike" onclick="getUp">▲</button>
                            <span class="vote-count" id="counterVotes">{{ question.votes }}</span>
                            <button class="btn btn-sm btn-outline-danger" id="buttonDislike" onclick="getDwon">▼</button>
                        </div>
                    </div>
                    <div class="question__content">
                        <h3 class="question__header">
                            <a href="{% url 'question' question.id %}">
                                {{ question.title }}
                            </a>
                        </h3>
                        <p class="question__description">
                            {{ question.description }}
                        </p>
                        <div class="question__footer">
                            <a href="{% url 'question' question.id %}" class="question__answers">
                                Ответов: {{ question.answers_count }}
                            </a>
                            <div class="question__tags">
                                <span class="question__subtitle">Tags:</span>
                                <div class="question__tags__list">
                                    {% for tag in question.tags %}
                                    <a href="{% url 'questions_by_tag' tag %}" class="badge bg-secondary">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--Пагинация-->
            <div class="pagination mt-4 d-flex align-items-center gap-3">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">« Назад</a>
                {% endif %}

                <span class="">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Дальше »</a>
                {% endif %}
            </div>
        </main>
            
        <!-- aside -->
        <aside class="col-lg-3">
            {% include 'includes/sidebar.html' %}
        </aside>
    </div>
</div>
{% endblock %}